BorderPane {
    -fx-font-family: "Helvetica";
    -fx-line-height: 28px inherit;
}

.root {
    -fx-background-color: #253342;
    -fx-font-size: 17px;
}

.button {
    -fx-background-color: #253342,linear-gradient(#e2c92f, #fff,#e2c92f );
    -fx-border-radius: 5;
    -fx-text-fill: #4c5e70;
    -fx-alignment: center;
    -fx-padding: 5 35 5 35;
}

.button_not_main_action {
    -fx-background-color: #797769,
       linear-gradient(#35536b, #597489);
    -fx-border-radius: 5;
    -fx-text-fill: #4c5e70;
    -fx-alignment: center;
    -fx-font: 17px "Helvetica Bold";
    -fx-padding: 5 35 5 35;
}

.button_guided_action {
    -fx-background-color: #797769,
       linear-gradient(#e2c92f, #797769);
    -fx-border-radius: 5;
    -fx-text-fill: #253342;
    -fx-alignment: center;
    -fx-padding: 5 35 5 35;
}

.headingLevel1 {
    -fx-text-fill: White;
    -fx-font-size: 36px;
}

.headingLevel2 {
    -fx-text-fill: #e2c92f;
    -fx-font-size: 21px;
    -fx-font-weight: bold;
}

.headingLevel3 {
    -fx-text-fill: #e2c92f;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-alignment: top-left;
    -fx-padding: 10 0 0 0;
}

.stepNumber {
    -fx-text-fill: #707e87;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 10 0 0 0;
}

.mainText {
    -fx-text-fill: White;
    -fx-font-size: 14px;
    -fx-line-height: 18px;
    -fx-padding: 10 0 0 0;
}
