.root {
	-fx-background-color: #e6e7e9;
  -fx-font-family: "Helvetica";
  -fx-line-height: 28px inherit;
}

.button {
		-fx-background-color:
        #797769,
       linear-gradient(#35536b, #597489);
		-fx-border-radius: 5;
		-fx-text-fill: White;
		-fx-alignment: center;
		-fx-font-size: 14px;
		-fx-padding: 5 35 5 35;
}

.button:hover {
		-fx-background-color: #638a4b;
		-fx-border-radius: 5;
		-fx-text-fill: White;
		-fx-alignment: center;
		-fx-font-size: 14px;
		-fx-padding: 5 35 5 35;
}

.button:pressed {
		-fx-background-color: DarkGreen;
		-fx-border-radius: 5;
		-fx-text-fill: White;
		-fx-alignment: center;
		-fx-font-size: 14px;
		-fx-padding: 5 35 5 35;
}

.button_not_main_action {
		-fx-background-color:
        #797769,
       linear-gradient(#35536b, #597489);
		-fx-border-radius: 5;
		-fx-text-fill: Black;
		-fx-alignment: center;
		-fx-font-size: 14px;
		-fx-padding: 5 35 5 35;
}

.button_guided_action {
    -fx-background-color: #253342,linear-gradient(#FFFF66, #666600);
    -fx-border-radius: 5;
    -fx-text-fill: #4c5e70;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5 35 5 35;
}

.button_guided_action:hover {
	-fx-background-color:
        linear-gradient(DarkGreen 0%, Green  50%, Green 51%, DarkGreen 100%);
	-fx-border-radius: 5;
	-fx-font-weight: bold;
	-fx-text-fill: White;
	-fx-alignment: center;
	-fx-font-size: 14px;
	-fx-padding: 5 35 5 35;
}

.button_guided_action:pressed {
	-fx-background-color:
        linear-gradient(DarkGreen 0%, Green  50%, Green 51%, DarkGreen 100%);
	-fx-effect: innershadow( three-pass-box , Black , 2 , 2.0 , 2, 2 );
	-fx-font-weight: bold;
	-fx-border-radius: 5;
	-fx-text-fill: White;
	-fx-alignment: center;
	-fx-font-size: 14px;
	-fx-padding: 5 35 5 35;
}

.headingLevel1 {
	-fx-font-size: 24px;
  -fx-font-weight: bold;
	-fx-text-fill: Black;
	-fx-padding: 0 5 10 5;
}

#contentPane {
}
