.menu .label
{
    -fx-text-fill: #f7f7f7 ;
		-fx-font-face: Helvetica;
}

.menu-item {
    -fx-text-fill: #f7f7f7;
	-fx-background-color: #1a1a1a;

}

.menu-item:focused {
     -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: blue;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    -fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
/*    -fx-padding: 0.666667em 0.083333em 0.666667em 0.083333em;  8 1 8 1 */
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}

.toolbarHBox {
	-fx-fill-height: true;
	-fx-alignment: center-right;
}

.toolbarLabel {
	-fx-text-fill: #4c5e70;
	-fx-alignment: center-right;
	-fx-font-family: Helvetica;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
/*	-fx-padding: 0, 20, 10, 20;*/
}

.toolbarButton {
	-fx-background-color: #77bad0;
	-fx-text-fill: #f7f7f7;
	-fx-font-family: Helvetica;
	-fx-font-size: 14px;
	-fx-font-weight: bold;
/*	-fx-padding: 10, 10, 10, 10;*/
/*	-fx-background-insets: 10, 0, 10, 0;*/
}

