.root {
/*	-fx-background-color: #e6e7e9; NOTE:caused tooltips & dropdowns to have ugly gray window behind them, side effect off gray on wizard around content*/
  -fx-font-family: "Helvetica";
  -fx-line-height: 28px inherit;
}

/***********/
/* Buttons */
/***********/

.button {
		-fx-background-color:
        #797769,
       linear-gradient(#35536b, #597489);
		-fx-border-radius: 5;
		-fx-text-fill: White;
		-fx-alignment: center;
		-fx-font-size: 17px;
		-fx-padding: 5 35 5 35;
		-fx-background-insets: 2px;
}

.button:hover {
		-fx-background-color: #638a4b;
		-fx-border-radius: 5;
		-fx-text-fill: White;
		-fx-alignment: center;
		-fx-font-size: 17px;
		-fx-padding: 5 35 5 35;
		-fx-background-insets: 2px;
}

.button:pressed {
		-fx-background-color: DarkGreen;
		-fx-border-radius: 5;
		-fx-text-fill: White;
		-fx-alignment: center;
		-fx-font-size: 17px;
		-fx-padding: 5 35 5 35;
		-fx-background-insets: 2px;
}

.button-minpadding{
		-fx-padding: 5 5 5 5;
}

.button-minpadding:hover {
		-fx-padding: 5 5 5 5;
}

.button-minpadding:pressed {
		-fx-padding: 5 5 5 5;
}

.button-defaultcase{
		 -fx-pref-width: 260;
}

.button-defaultcase:hover {
		 -fx-pref-width: 260;
}

.button-defaultcase:pressed {
		 -fx-pref-width: 260;
}


.button_not_main_action {
		-fx-background-color:
        #797769,
       linear-gradient(#35536b, #597489);
		-fx-border-radius: 5;
		-fx-text-fill: Black;
		-fx-alignment: center;
		-fx-font-size: 17px;
		-fx-padding: 5 35 5 35;
}

.button_guided_action {
    -fx-background-color: #253342,linear-gradient(#FFFF66, #666600);
    -fx-border-radius: 5;
    -fx-text-fill: #4c5e70;
    -fx-font-weight: bold;
    -fx-alignment: center;
    -fx-padding: 5 35 5 35;
}

.button_guided_action:hover {
	-fx-background-color:
        linear-gradient(DarkGreen 0%, Green  50%, Green 51%, DarkGreen 100%);
	-fx-border-radius: 5;
	-fx-font-weight: bold;
	-fx-text-fill: White;
	-fx-alignment: center;
	-fx-font-size: 17px;
	-fx-padding: 5 35 5 35;
}

.button_guided_action:pressed {
	-fx-background-color:
        linear-gradient(DarkGreen 0%, Green  50%, Green 51%, DarkGreen 100%);
	-fx-effect: innershadow( three-pass-box , Black , 2 , 2.0 , 2, 2 );
	-fx-font-weight: bold;
	-fx-border-radius: 5;
	-fx-text-fill: White;
	-fx-alignment: center;
	-fx-font-size: 17px;
	-fx-padding: 5 35 5 35;
}

/************/
/* Headings */
/************/

.headingLevel1 {
	-fx-font-size: 24px;
  -fx-font-weight: bold;
	-fx-text-fill: Black;
	-fx-padding: 0 5 10 5;
}

.headingLevel2 {
  -fx-font-weight: bold;
	-fx-text-fill: #4c5e70;
	-fx-font-size: 24px;
	-fx-padding: 10 5 10 5;
}

.headingLevel3 {
  -fx-font-weight: bold;
	-fx-text-fill: #4c5e70;
	-fx-font-size: 13px;
	-fx-padding: 5 3 5 3;
}

/********/
/* Text */
/********/

.errorText {
	-fx-text-fill: #FF2819;
	-fx-alignment: center-left;
	-fx-font-size: 13px;
}

/*********/
/* Cases */
/*********/
.cases {
    -fx-background-color:  #353535;
}

/********/
/* Tab */
/********/
.tab-pane-cases .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-cases {
	-fx-background-color:  #353535;
}

/************/
/* ListView */
/************/


.list-view,
.list-view:focused {
    -fx-border-width: 1;
    -fx-border-color: #2c2c2c;
    -fx-border-radius: 5;
    -fx-background-insets: 0;
}


.list-cell:even {
    -fx-cell-hover-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-background-color: #ffffff;
}

.list-cell:odd {
    -fx-cell-hover-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-background-color: #f7f7f7;
}

.list-cell:filled:selected:focused:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

/*************/
/* TableView */
/*************/
/* Selected row */
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
}

/* Selected row when table not focused */
.table-row-cell:filled:focused:selected {
     -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
}

/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
}

/* Selected row hovered */
.table-view:focused .table-row-cell:filled:focused:selected:hover {
     -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
}
