#fxGridPane {
	-fx-background-color: #e6e7e9;
}



.button {

		-fx-background-color:

        #797769,

       linear-gradient(#35536b, #597489);

		-fx-border-radius: 5;

		-fx-text-fill: White;

		-fx-alignment: center;

		-fx-font: 17px "Helvetica";

		-fx-padding: 5 35 5 35;

}



.button_not_main_action {

		-fx-background-color:

        #797769,

       linear-gradient(#35536b, #597489);

		-fx-border-radius: 5;

		-fx-text-fill: #4c5e70;

		-fx-alignment: center;

		-fx-font: 17px "Helvetica";

		-fx-padding: 5 35 5 35;

}



.button_guided_action {

		-fx-background-color:

        #797769,

       linear-gradient(#e2c92f, #797769);

		-fx-border-radius: 5;

		-fx-text-fill: #4c5e70;

		-fx-alignment: center;

		-fx-font: 17px "Helvetica";

		-fx-padding: 5 35 5 35;

}



.headingLevel1 {

	-fx-text-fill: White;

	-fx-stroke-width: 10;

	-fx-stroke: White;

	-fx-font: 20px "Arial Black";

  -fx-font-weight: bold;

	-fx-padding: 0 5 10 5;

}



.headingLevel2 {

	-fx-text-fill: #4c5e70;

	-fx-stroke-width: 10;

	-fx-stroke: #4c5e70;

	-fx-font: 20px "Arial Black";

  -fx-font-weight: bold;

	-fx-padding: 10 5 10 5;

}



.headingLevel3 {

	-fx-text-fill: #4c5e70;

	-fx-font: 11px "Arial Black";

  -fx-font-weight: bold;

	-fx-padding: 5 3 5 3;

}

.headingLevel4 {

	-fx-text-fill: #797769;

	-fx-stroke-width: 10;

	-fx-stroke: #797769;

	-fx-font: 20px "Arial Black";

  -fx-font-weight: bold;

	-fx-padding: 10 5 10 5;

}


.mainText {

	-fx-text-fill: #4c5e70;

	-fx-alignment: center-left;

	-fx-font: 13px "Helvetica";

}



.mainTextBox {

	-fx-background-color: #9ba5ae;

  -fx-width: 80%;

  -fx-padding: 25 10 15 10;

	-fx-alignment: center-left;

	-fx-background-radius: 7.0;

}



.mainTextBoxText {

	-fx-text-fill: #4c5e70;

	-fx-alignment: center-left;

	-fx-font: 11px "Arial Black";

}



.hintText {

	-fx-text-fill: #4c5e70;

	-fx-alignment: center-left;

	-fx-font: 13px "Helvetica";

}



.errorText {

	-fx-text-fill: #638a4b;

	-fx-alignment: center-left;

	-fx-font: 13px "Arial Bold";

}


.radioButtonText {
	-fx-text-fill: #4c5e70;
  -fx-padding: 0 4 4 4;
	-fx-font: 38px "Helvetica";
}
