.root {
	-fx-background-color: #e6e7e9;
}

.button {
		-fx-background-color:
        #797769,
       linear-gradient(#35536b, #597489);
		-fx-border-radius: 5;
		-fx-text-fill: White;
		-fx-alignment: center;
		-fx-font: 17px "Helvetica";
		-fx-padding: 5 35 5 35;
}

.button_not_main_action {
		-fx-background-color:
        #797769,
       linear-gradient(#35536b, #597489);
		-fx-border-radius: 5;
		-fx-text-fill: #4c5e70;
		-fx-alignment: center;
		-fx-font: 17px "Helvetica";
		-fx-padding: 5 35 5 35;
}

.button_guided_action {
		-fx-background-color:
        #797769,
       linear-gradient(#e2c92f, #797769);
		-fx-border-radius: 5;
		-fx-text-fill: #4c5e70;
		-fx-alignment: center;
		-fx-font: 17px "Helvetica";
		-fx-padding: 5 35 5 35;
}

.headingLevel1 {
	-fx-text-fill: White;
	-fx-stroke-width: 10;
	-fx-stroke: White;
	-fx-font: 20px "Arial Black";
  -fx-font-weight: bold;
	-fx-padding: 0 5 10 5;
}

.headingLevel2 {
	-fx-text-fill: #4c5e70;
	-fx-stroke-width: 10;
	-fx-stroke: #4c5e70;
	-fx-font: 20px "Arial Black";
  -fx-font-weight: bold;
	-fx-padding: 10 5 10 5;
}

.headingLevel3 {
	-fx-text-fill: #4c5e70;
	-fx-font: 11px "Arial Black";
  -fx-font-weight: bold;
	-fx-padding: 5 3 5 3;
}


#topBar {
	-fx-background-color: #4c5e70;
  -fx-width: 100%;
  -fx-padding: 6 6 6 6;
	-fx-spacing: 10;
	-fx-alignment: center-left;
}

.mainText {
	-fx-text-fill: #4c5e70;
	-fx-alignment: center-left;
	-fx-font: 13px "Helvetica";
}

.mainTextBox {
	-fx-background-color: #9ba5ae;
  -fx-width: 80%;
  -fx-padding: 25 10 35 10;
	-fx-alignment: center-left;
	-fx-background-radius: 7.0;
	-fx-background-insets: 0 0 20 0;
}

.mainTextBoxText {
	-fx-text-fill: #4c5e70;
	-fx-alignment: center-left;
	-fx-font: 11px "Arial Black";
}

.hintText {
	-fx-text-fill: #4c5e70;
	-fx-alignment: center-left;
	-fx-font: 13px "Helvetica";
}

.errorText {
	-fx-text-fill: #638a4b;
	-fx-alignment: center-left;
	-fx-font: 13px "Arial Bold";
}

.Icon {
    -fx-padding: 16 16 16 16;
    -fx-alignment: top-left;
}

.form-pane {
	-fx-background-color: #e6e7e9;
	-fx-padding: 25 25 25 25;
}

#sidebar-hints {
	-fx-background-color: #e6e7e9;
	-fx-border: none;
}

.wv-sidebar-hint {
	background-color: #e6e7e9;
	font: 9px "Helvetica";
	border: none;
}

.wv-bottom-alert {
	background-color: #e6e7e9;
	color: White;
}

.not-used-yet {
	-fx-background-insets: 25;
	-fx-insets: 10 10 10 10;
	-fx-border-insets: 5;
	-fx-border-color: Red;
	-fx-border-style: solid;
	-fx-border-width: 2;
    -fx-padding: 6 6 6 6;
	-fx-spacing: 10;
	-fx-insets: 10 10 10 10;
}

.table-cell .button .remove-contact-button {
	-fx-background-color: Red;
	-fx-base: Red;
	-fx-text-fill: White;
}

.table-cell .verified-label  {
	-fx-text-fill: Green;
}

.table-cell .hyperlink .unverified-hyperlink:hover  {
	-fx-background-color: Red;
 }

.table-cell .hyperlink .unverified-hyperlink  {
	-fx-background-color: Red;
 }

#BelowTitle {
	-fx-border-color: #e6e7e9;
	-fx-border-style: solid;
	-fx-border-width: 25;
}

#contentPane {
}



.step {
	-fx-fill-height: true;
	-fx-alignment: center-left;
}

.current-step {
}

.current-step .TopBarStepNumber {
	-fx-text-fill: White;
	-fx-stroke-width: 2;
	-fx-stroke: White;
	-fx-font: 24px "Helvetica";
}

.current-step .TopBarStepName {
	-fx-text-fill: White;
	-fx-stroke-width: 2;
	-fx-stroke: White;
	-fx-font: 13px "Helvetica";
}

.TopBarStepNumber {
	-fx-text-fill: #707e87;
	-fx-stroke-width: 2;
	-fx-stroke: #707e87;
	-fx-font: 24px "Helvetica";
	-fx-padding: 0 3 0 3;
}

.TopBarStepName {
	-fx-text-fill: #707e87;
	-fx-alignment: center-left;
	-fx-stroke: #707e87;
	-fx-stroke-width: 2;
	-fx-font: 13px "Helvetica";
}

.TopBarArrow {
	-fx-text-fill: #707e87;
  -fx-padding: 0 4 4 4;
	-fx-font: 20px "Arial Black";
}

#contacts-table {
	-fx-table-cell-border-color: #e6e7e9;
	-fx-font: 13px "Helvetica";
	-fx-text-fill: #4c5e70;
}

.tableRow {
	-fx-table-cell-border-color: transparent;
	-fx-font: 13px "Helvetica";
	-fx-text-fill: #4c5e70;
	-fx-background-color: #9ba5ae;
}

.radioButtonText {
	-fx-font: 13px "Helvetica";
	-fx-text-fill: #4c5e70;
}

.choiceBox {
	-fx-text-fill: white;
  -fx-padding: 0 4 4 4;
	-fx-font: 15px "Arial Black";
	-fx-background-color: Red;
}
